@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #fff;
  color: #333;
}

/* styles/globals.css */
@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Noto Sans JP"), local("NotoSansJP-Regular"),
    url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400&display=swap")
      format("woff2");
}
@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Noto Sans JP"), local("NotoSansJP-Bold"),
    url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap")
      format("woff2");
}
